<h1><%= @greeting %> <%= @user.first_name %> <%= @user.last_name %></h1>


  <p>Thank you very much for your interest in our services. We connect clients with drone companies and help you finding new customers.</p>

  <h2>How to get started:</h2>
    <ol>
      <li>Fill out your operator profile to showcase your skills and show interested clients what you have made in the past: <%= link_to "Create your Operator Profile", edit_operator_profiles_url %> </li>
      <li>When a client creates a new request for a proposal you're going to be notified by email</li>
      <li>If you would like to help the client and take the job create a proposal outlining availability, price and details about your offer. </li>
      <li>The client goes ahead and chooses the proposal he likes most and books it through the platform</li>
    </ol>

