<h1><%= @greeting %> <%= @user.first_name %> <%= @user.last_name %></h1>


  <p>Thank you very much for your interest in our services. We help you finding the best aerial images and videos services in Lebanon in a quick and efficient manner.</p>

  <h2>How to get started:</h2>
    <ol>
      <li>Describe what you're looking for and post a new request here: <%= link_to "Create a request", new_request_url %> </li>
      <li>Suitable drone companies will be notified and create proposals according to your specifications</li>
      <li>You're going to receive an email whenever a new proposal has been submitted. </li>
      <li>Review the proposals and choose the one you like most</li>
    </ol>

