.container {
  padding: 15px;
}

.pages{
  .date{
    color:black;
  }
  .banner{
    position:relative;
    top: -59px;
    .form{
      position:relative;
      bottom:0px;
    }
  }

  .lobster{
    color: white !important;
  }

  .links{
    border: 2px white solid;
    margin-left: 4px;
    a{
    color:white !important;
    }
  }

  .navbar{
    z-index: 1;
    background-color: transparent;
    .dropdown {
      border: 2px white solid;
      a{
        color: black;
      }
      .dropdown-toggle{
        color:white;
      }
    }
  }
}




/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
