// style navbar in the context of the homepage
.pages.index {
  .navbar {
    background-color: transparent;
    .dropdown {
      .dropdown-toggle{
        color:#02b2d2;
      }
    }
  }

  .otherlinks{
    color:#02b2d2;
  }

  .navbar-link, .navbar-brand {
    color: #02b2d2;

  }
  .navbar-link{
    border: 2px #02b2d2 solid;
    border-radius: 5px;
    margin-left: 4px;
  }
}

//default navbar styles
.navbar{
  z-index: 1;
}

.navbar-link, .navbar-brand {
  color: black;
}

.btn {
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.banner{
  position:relative;
  top: -59px;
  .form{
    position:relative;
    bottom:0px;
  }
}

.orbitron { font-family: 'Orbitron', sans-serif; }

.bg-transparent { background-color: transparent }
.bg-white { background-color: white; }
.black { color: black!important; }
.white { color: white!important; }


.black:hover{
  color: #1c2833;
  text-decoration: none;
}


#as-a-customer{
  background-image: url("drone1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: -81px;
}

#as-a-pilot{
  background-image: url("pilots.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: -81px;
}

.col-lg-3{
  padding-top: 150px;
  padding-bottom: 150px;
}


.howtoimg{
  height:100px;
  width: 100px;
}


.banner2title{
  text-align:left;
  margin-left: 80px;
}

.banner3title{
  text-align:left;
  margin-left: 80px;
}

.hi{
  border: 2px white solid;
  border-radius: 5px;
  margin-left: 6px;
  padding:15px;
}

.hi:hover{
  text-decoration: none;
  background-color: gray;
}

.banner-content{
  text-align:center;
}

.fixed{
  position: fixed;
  bottom: 10px;
  right:10px;
  z-index: 2;
  img{
    height:60px;
    width:60px;
  }
}

.userlink:hover{
  text-decoration: underline;
}



// Style for the top rated pilots


.pilotname{
  color:white;
  background-color:black;
  margin-bottom: 25px;
}

.thelisting{
  padding-bottom: 200px;

}




.pilot{
  margin-bottom: 10px;
  margin-top: -76px;
  background-color: white;
  margin-left: 15px;
}


.topdescription{
  p{
    font-size: 30px;
    position:relative;
    bottom: -81px;
  }

  h3{
    position:relative;
    bottom:-160px;
  }

  a{
    position: relative;
    bottom: -185px;
    text-decoration:none;
    color:black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
  }

  a:hover{
      text-decoration: underline;
    }
}

.jumbotron{
  background-image: url('one.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron:hover{
  opacity: 0.8;
}

.jumbotron-description {
  bottom: 10px;
  left: 10px;
  margin-left:-3px;
  margin-bottom: 80px;
}

.img-circle {
  height:80px;
  width:80px;
}


