// Arrow on the Homepage

.up {
  position: fixed;
  bottom: 10px;
  right:10px;
  z-index: 2;
  img {
    height:60px;
    width:60px;
  }
}

// How it works explanation

.subtitle {
  margin: 0 0 2em 0;
}

.fancy {
  line-height: 0.5;
  text-align: center;
}

.fancy span {
  display: inline-block;
  position: relative;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-weight: 400;
}

.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  top: 0;
  width: 300px;
}

.fancy span:before {
  right: 100%;
  margin-right: 15px;
}

.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

.banner2, .banner3 {
  height: 100vh;
  width: 80%;
  p {
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 10px;
    letter-spacing: 1px;
  }
  .userlink {
    padding: 3rem;
  }
  .divisions {
    margin-top: 5rem;
  }
  h3 {
    color: #32B796;
    font-weight: 400;
    margin-top: 10rem;
  }
  h4 {
    margin-top: 5rem;
    font-size: 22px;
    text-transform: uppercase;
  }
}

.lazy-child {
  transform: translate(0, 100px);
  transition: .5s;
  opacity: 0.1;
  transition-timing-function: cubic-bezier(0.25,0.25,0.75,0.75);
}

.animate {
  transform: translate(0);
  opacity: 1;
}

#as-a-pilot img,
#as-a-customer img {
  max-height: 150px;
}

#as-a-pilot img,
#as-a-customer img:hover {
  opacity: 0.75;
  cursor: pointer;
}

// style for top companies

#drone-inc { background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), image-url('one.jpg'); }
#fly-high { background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), image-url('house.jpeg'); }
#drone-pilots { background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), image-url("real-estate.jpeg"); }

.card {
  height: 230px;
  background-size: cover;
  color: white;
}

.card h3 {
  font-size: 28px;
  font-family: Raleway;
  position: relative;
  left: 10px;
  top: 30px;
}

.card p {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 300;
  position: relative;
  left: 10px;
  top: 30px;
}

.img-circle {
  height:80px;
  width:80px;
  position:relative;
  left:275px;
  top: 10px;
}

.card:hover {
  opacity: 0.8;
}

.top-rated {
  margin-bottom: 10rem;
  clear: both;
  h2 {
    margin-bottom: 3rem;
    font-weight: 300;
  }
}

// style for About Droneit

.aboutcontainer {
  padding: 50px;
  margin-bottom: 300px;
  h2 {
    margin-bottom: 2rem;
    font-weight: 300;
  }
  h3 {
    font-weight: 300;
  }
}


.aboutcontainer p {
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 10px;
  letter-spacing: 1px;
}
