<div class="container">
  <div class="mailbox">
    <h1>Mailbox (1)</h1>
    <p>Manage all your messages</p>
    <table class= "table table-hover">
        <tbody>
          <% @conversations.each do |conversation| %>
            <tr>
              <td> <%= cl_image_tag chat_partner_object(current_user, conversation).avatar.url(:standard), class:"avatar-bordered" %></td>
              <td><p><%= chat_partner(current_user, conversation) %></p> </td>
              <td><p><%= truncate(conversation.messages.last.try(:body), :length => 150)%></p></td>
              <td><div class="mailbox-links"><%= link_to 'Show', conversation_messages_path(conversation) %></div></td>
            </tr>
             <% end %>
        </tbody>
    </table>
  </div>
</div>

