<div id="footer" >
    <div class="text-center">
      <h3 class="orbitron" style="font-size: 30px">Droneit</h3>
    </div>
    <div class="text-center">
      <div class="inline">
          <%= link_to "Contact us |", '#', class: "footerlinks white" %>
      </div>
      <div class="inline">
          <%= link_to " Terms of use |", '#', class: "footerlinks white" %>
      </div>
      <div class="inline">
          <%= link_to " Privacy |", '#', class: "footerlinks white" %>
      </div>
      <div class="inline">
          <%= link_to " Help", '#', class: "footerlinks white" %>
      </div>

      <div class="divider">
        <div class='inline'>
          <a href="#"> <i class="fa fa-facebook white"> </i> </a>
        </div>
        <div class="inline">
          <a href=""> <i class="fa fa-envelope-o white"> </i> </a>
        </div>
        <div class='inline'>
          <a href="#"> <i class="fa fa-instagram white"> </i> </a>
        </div>
      </div>
    </div>
</div>


