<div id="footer" >
  <div class="container">
    <div class="col-md-4">
      <ul>
         <li><a href="#">Contact</a></li>
         <li><a href="#">T&C</a></li>
         <li><a href="#">Help</a></li>
         <li><a href="#">FAQ</a></li>
       </ul>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <a href> <i class="fa fa-envelope-o"> </i> </a>
      <a href> <i class="fa fa-facebook"> </i> </a>
      <a href> <i class="fa fa-instagram"> </i> </a>
    </div>
   </div>
</div>
