<div class="container grayy">
<h1 class="text-center">About Droneit</h1>
<h2 class="text-center">We connect you to the drone pilots you need</h2>
  <div class="row text-center about">
    <h3>What We Can Do</h3>
      <p> We connect customers who need aerial images or video feed for a given event, or needs regarding real estate or marketing, to drone pilots who can meet their needs. Everything else is arranged between those users. </p>
    <h3>Why Drones?</h3>
      <p>Drones map a given view in stunning detail, they help film situations such as sports events where the camera man would have a hard time getting close to the action, and could even help capture development and real estate projects.
    Discover the world from whole new heights!<p>
  </div>
</div>

