<!-- Homepage Banner Video -->
<div class="banner">
  <div class="banner-content">
  <h1>Welcome to drone it!</h1>
    <p>Hire a drone pilot!</p>
  </div>
</div>

<!-- How does it work? Customer -->

<!-- How does it work? Drone Pilot -->
