<!-- Homepage Banner Video -->
<div class="banner">
  <div class="banner-content">
  <h1>Welcome to drone it!</h1>
    <p>Hire a drone pilot!</p>
  </div>
</div>



<!-- categories -->

<!-- <div class="text-center padded features">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-3 col1">
        <h3>Sports events</h3>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3 col2">
        <h3> Formal </h3>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3 col3">
        <h3> raw footage </h3>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3 col4">
        <h3>Nightlife</h3>
      </div>
    </div>
  /div>
  </div> -->


<!-- How does it work? Customer -->

<div class="banner2" id='as-a-customer'>
  <div class="text-center padded features">
    <div class="row">
      <div class='col-xs-12'>
        <h2 class="banner2title orbitron">How it works</h2>
        <h3 class="banner2title orbitron"> As a cutomer </h3>
        <div class="container inline">
          <div class="col-xs-12 col-md-4 col-lg-3">
            <img src="assets/sign.png" alt="thumps">
            <h4>Sign in</h4>
            <p> Create your account, make your drone experience better</p>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-3">
            <img src="assets/drone.png">
            <h4>Make a request</h4>
            <p> State the date and location of the job</p>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-3">
            <img src="assets/check.png">
            <h4>Choose best offer</h4>
            <p> Chose a pilot's offer, and book!</p>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-3">
          <%= link_to new_user_registration_path, class: "black" do%>
          <%= image_tag 'arrow.png' %>
          <h4> Not a user? Sign up! </h4>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- How does it work? Drone Pilot -->
<div class="banner3" id='as-a-pilot'>
  <div class="text-center padded features">
    <div class="row">
      <div class='col-xs-12'>
        <h2 class="banner3title orbitron">How it works</h2>
        <h3 class="banner3title orbitron"> As a drone pilot </h3>
        <div class="container inline">
          <div class="col-xs-12 col-md-4 col-lg-3">
            <img src="assets/sign.png" alt="thumps">
            <h4 class="white">Sign in</h4>
            <p class="white"> Create your account, make your drone experience better.</p>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-3">
            <img src="assets/drone.png">
            <h4 class="white">Get a request</h4>
            <p class="white"> Get a date and a location, accept or deny the job.</p>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-3">
            <img src="assets/mon.png">
            <h4 class="white">Make an offer</h4>
            <p class="white"> Answer a request, offer your price.</p>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-3">
          <%= link_to new_user_registration_path, class: "black" do%>
          <%= image_tag 'arrow.png' %>
          <h4 class="white"> Not a user? Sign up! </h4>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

