<!-- Homepage Banner Video -->
<div class="banner">
  <div class="banner-content">
  <h1>Welcome to drone it!</h1>
    <p>Hire a drone pilot!</p>
  </div>
</div>

<!-- How does it work? Customer -->

<div class="container">
<h2 class="text-center">How does it work?</h2>
  <div class="text-center padded features">
    <div class="row">
    <h3>As a customer</h3>
      <div class="col-xs-12 col-md-6 col-lg-3">
         <img src="assets/sign_up.png" alt="thumps">
        <h3>Sign up</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, velit placeat. Ea cum laudantium nulla, mollitia temporibus repellat deleniti veritatis.</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <img src="assets/request.png" alt="request">
        <h3>Make a request</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, velit placeat. Ea cum laudantium nulla, mollitia temporibus repellat deleniti veritatis.</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <img src="assets/mailbox.png" alt="mailbox">
        <h3>Get offers</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, velit placeat. Ea cum laudantium nulla, mollitia temporibus repellat deleniti veritatis.</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <img src="assets/offer.png" alt="offer">
        <h3>Choose best offer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, velit placeat. Ea cum laudantium nulla, mollitia temporibus repellat deleniti veritatis.</p>
      </div>
    </div>
  </div>
</div>

<!-- How does it work? Drone Pilot -->
<div class="container">
  <div class="text-center padded features">
    <div class="row">
     <h3>As a drone pilot</h3>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <img src="assets/sign_up.png" alt="thumps">
        <h3>Sign up</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, velit placeat. Ea cum laudantium nulla, mollitia temporibus repellat deleniti veritatis.</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <img src="assets/mailbox.png" alt="mailbox">
        <h3>Get requests</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, velit placeat. Ea cum laudantium nulla, mollitia temporibus repellat deleniti veritatis.</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <img src="assets/offer.png" alt="offer">
        <h3>Make an offer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, velit placeat. Ea cum laudantium nulla, mollitia temporibus repellat deleniti veritatis.</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <img src="assets/money.png" alt="money">
        <h3>Get great drone jobs</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, velit placeat. Ea cum laudantium nulla, mollitia temporibus repellat deleniti veritatis.</p>
      </div>
    </div>
  </div>
</div>
