// Your footer style
/* Footer design */
form {
  margin-top: 0em;
}

#footer {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 59%, rgba(0, 0, 0, 1) 100%), image-url('picture1') no-repeat;
  // background-image:url('picture1');
  background-size: cover;
  background-repeat: no-repeat;
  color: #CCCCCC;
  padding: 10px 0;
  position: relative;
  &:before {
    content: ''
  }
}

#footer a {
  color: #CCCCCC;
  text-decoration: none;

}

#footer ul {
  list-style-type: none;
}

.fa {
  font-size: 30px;
  color: #CCCCCC;
  padding: 15px 10px;
  margin: 15px;
}

#newsletter p {
  margin: 0px;
}


.footerlinks{
  font-size: 20px;
}
