// Your footer style
/* Footer design */
form {
  margin-top: 0em;
}

#footer {
  background: #333333;
  color: #CCCCCC;
  padding: 10px 0;
  position: relative;
}

#footer a {
  color: #CCCCCC;
  text-decoration: none;
}

#footer ul {
  list-style-type: none;

}

.fa {
  font-size: 30px;
  color: #CCCCCC;
  padding: 15px 10px;
  margin: 15px;
}

#newsletter p {
  margin: 0px;
}

// Your footer style
