// Generall Navbar Style

.float-left {
  float: left;
}

.logo {
  padding: 6px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  z-index: 100;
  background-color: transparent;
}

.navbar-brand {
  font-family: 'Orbitron', sans-serif;
}
// Navbar Style on Homepage only

.pages.index {
  .navbar {
    .navbar-brand {
      color: white;
    }
  }
}

.pages.index {
  .navbar {
    .navbar-nav {
      li {
        a {
          color: white;
          text-transform: uppercase;
          font-weight: 300;
        }
      }
    }
  }
}

.navbar-nav {
  li {
    a {
      text-transform: uppercase;
      font-weight: 300;
    }
  }
}

.pages.index {
  .navbar {
    .navbar-nav {
      .dropdown-menu {
        li {
          a {
            color: gray !important;
            text-transform: uppercase;
            font-weight: 300;
          }
        }
      }
    }
  }
}


/*********************************************
MEDIA QUERIES
*********************************************/

@media (max-width: 767px) {
  .pages.index {
    .navbar {
      .dropdown {
        margin-bottom: 70px;
      }
    }
  }
  .pages.index {
    .navbar {
      .navbar-nav {
        margin-bottom: 70px;
        li {
          a {
            color: gray;
          }
        }
      }
    }
  }
  .pages.index {
    .navbar {
      .navbar-brand {
        color: gray;
      }
    }
  }
}



