

<style>
#main {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.header--large .title {
  line-height: 1.2;
  font-size: 32px;
  font-size: 3rem;
}

h1 {
  font-weight: 700;
  letter-spacing: 0;
  margin: 0;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}
h2 {
  margin: 0;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}
.strapline {
  font-size: 20.8px;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0;
  max-width: 33em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-top: 0.5rem;
}
.title+.strapline {
  margin-top: 1em;
}

* {
  box-sizing: border-box;
}

.header {
  text-align: center;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

#footer {
  position: relative;
  padding: 1rem;
}

</style>
  <main class="container" id="main" itemscope itemprop="mainContentOfPage">
    <section class="section section--main" id="main-section">
      <div class="wrapper">
        <header class="header  header--large">
          <h1 class="title">An Error has Occured !</h1>
           <h2 class="strapline">Not to worry. You can either head back to <a href="/">our homepage</a>, or sit here and watch a cat terribly fail at jumping.</h2>
        </header>
          <div class="text-center">
            <iframe src="//giphy.com/embed/U3hFvh2z3rn6U" width="480" height="269" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
          </div>
      </div><!-- .wrapper -->
    </section>
  </main>


