<h1>A drone company wants to work for you</h1>

<p><%= @greeting %>, you have received a proposal for your request.</p>

<p>Check it out <%= link_to "here", @proposal_url(@proposal) %> </p>
<p>Check out the company's operator profile <%= link_to "here", @operator_profile_url(@operator_profile) %></p>
