<div class="container">
  <div class='col-xs-12 col-md-6 col-md-offset-3 footer-container'>
    <div class="form">
    <h1>Create your Profile here!</h1>
    <p>You can edit your profile here.</p>
    <p>Remember: Showcase your skills and get drone jobs</p>
    <%= render "form" %>
    </div>
  </div>
</div>
