<div class="container">
  <h1><%= @profile.company_name %>'s Profile</h1>
  <p>Check out our Profile. We're ready to amaze you!</p>

  <p><%= @profile.description %></p>


  <%= cl_image_tag @profile.images.first.image %>
  <%= cl_image_tag @profile.images.last.image %>


</div>
