<!-- List of all Proposals-->

<div class="container">
  <h1>List of all Proposals</h1>
  <% if @request.proposals.empty? %>
  <p> You have no proposals yet </p>
  <% else %>
  <% @request.proposals.each do |proposal| %>
  <div class="col-md-2 col-xs-4">
    <div class="text-box">
    <%= link_to proposal_path(proposal) do %>
    <%= cl_image_tag proposal.user.operator_profile.images.first, class:"avatar avatar-large" %>
      <div class="avatar-name">
        <p><%= proposal.user.first_name %></p>
      </div>
      <div class="avatar-description">
        <p><b><%= proposal.price %> USD</b></p>
        <% if proposal.accepted? %>
          <p><i class="fa fa-check" aria-hidden="true"></i> Accepted!</p>
        <% elsif proposal.pending? %>
          <p><i class="fa fa-question" aria-hidden="true"></i> Pending</p>
        <% elsif proposal.rejected? %>
          <p><i class="fa fa-times" aria-hidden="true"></i> Declined!</p>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
  <% end %>
<% end %>
</div>

