.avatar {
  width: 30px;
}

.avatar-large {
  width: 150px;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 30px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: none;
}
.avatar-name {
  position: absolute;
  bottom: 65px;
  left: 36px;
  background-color: rgba(45,45,45,0.9);
  padding: 10px, 0px;
  color: #fff;
}

.avatar-name p {
  margin: 0 15px;
}

.avatar-description p {
  font-size: 15px;
  margin: 5px;
  font-family: 'Lato';
  color: #777777;
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: auto;
}
