.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
 // display: flex;
 // align-items: center;
 // background-size: cover;
 // height: 100vh;
 // background-repeat: no-repeat;
}
.banner {
  h1 {
  font-size: 65px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: "orbitron" , sans-serif;
  }
  p {
  font-size: 25px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
  font-style: italic;
  font-family: 'orbitron', sans-serif;
  }

  .btn {
  border-radius: 10px;
  }
}


.video {
  position: absolute;
  top: 47%; left: 50%;
  z-index: -100;
  // min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}
