.btn {
  padding: 5px;
  color: $gray;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 30%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 0px;
}

.btn:hover {
  opacity: 1;
}
