
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
.proposal-box {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: $gray;
  text-align: left;
  line-height: 1.4em;
  background-color: white;
}

.proposal-box a {
  color: $gray;
}

.proposal-box * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.proposal-box img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}

.proposal-box figcaption {
  width: 100%;
  background-color: white;
  padding: 25px;
  position: relative;
}

.proposal-box figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent white;
}

.proposal-box figcaption a {
  padding: 5px;
  border: 1px solid #ffffff;
  color: $gray;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}

.proposal-box figcaption a:hover {
  opacity: 1;
}

.proposal-box .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.proposal-box h2 {
  margin: 0 0 5px;
  font-weight: 300;
  font-size: 22px;
}

.proposal-box p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
  font-size: 15px;
}

.proposal-box h3 {
  margin: 0 0 5px;
  font-weight: 300;
  font-size: 15px;
  color: $gray;
}

.proposal-box .status p {
  font-size: 12px;
}


