// Place all the styles related to the Conversation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.msg-label {
  margin: 0 0 5px;
  font-weight: 300;
  font-size: 22px;
}

.msg-input {
  margin: 0 0 10px;
  letter-spacing: 1px;
  opacity: 0.8;
}

.btn-msg-send {
  padding: 10px;
  border: 1px solid #F2F2F2;
  color: black;
  background-color: $green;
  font-size: 0.9em;
  text-transform: uppercase;
  margin: 20px 0;
  display: inline-block;
  opacity: 0.65;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 0px;
}

.btn-msg-back {
  padding: 5px;
  border: 1px solid #F2F2F2;
  color: $gray;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}

.ui .content {
  background-color: black !important;
}
// Place all the styles related to the Message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
