// Place all the styles related to the request controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fa-check {
  font-size: 14px;
  color: $green;
  margin: 0px !important;
  padding: 0px !important;
}

.fa-question {
  font-size: 14px;
  color: $blue;
  margin: 0px !important;
  padding: 0px !important;
}

.fa-times {
  font-size: 14px;
  color: $red;
  margin: 0px !important;
  padding: 0px !important;
}

.request-summary-box {
  background-color: white;
  border: 1px solid #F2F2F2;
  text-align: center;
  border-radius: 5px;
  color: $gray;
  text-align:left;
  margin-top: 15px;
}

.request-summary {
  padding: 15px;
  margin-top: 15px;
}

.request-summary h1 {
  margin-top: 5px;
}

.map-box {
  margin-top: 15px;
}

.request-links a {
  padding: 5px;
  border: 1px solid #F2F2F2;
  color: $gray;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 0px 0;
  display: inline-block;
  opacity: 0.65;
  text-align: center;
  width: 45%;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}

.request-links-index a {
  padding: 5px;
  border: 1px solid #F2F2F2;
  color: $gray;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  text-align: center;
  width: 15%;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}

.red a {
  background-color: $red;
  color: $gray-darker;
}

.request-links a:hover {
  opacity: 1;
}


.request-summary h1 {
  font-size: 30px;
  font-weight: 300;
}

.request-summary p {
  font-weight: 300;
}

.requests h1 {
  font-size: 35px;
  font-weight: 300;
}

.requests p {
  font-weight: 300;
}
