// Place all the styles related to the request controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fa-check {
  font-size: 14px;
  color: green;
  margin: 0px !important;
  padding: 0px !important;
}

